.sliderContainer {
  position: relative;
  height: 500px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* aspect-ratio: 500/540; */
 

  margin-bottom: 20px;


}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s ease;

 
}

.sliderLeft,
.sliderRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(252, 158, 79, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
}

.sliderLeft {
  left: 10px;
}

.sliderRight {
  right: 10px;
}

.sliderLeft:hover,
.sliderRight:hover {
  background-color: rgba(252, 158, 79, 0.9);
}

.dotsContainer {
  display: flex;
  justify-content: center;

  /* margin-bottom: 15px; */
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  /* top: calc(100% + 5px); */
}

.dot {
  margin: 0 5px;
  cursor: pointer;
  color: #f1c9a8;
  transition: color 0.3s;
}

.activeDot {
  color: #fc9e4f;
}

@media (max-width: 768px) {
  .dotsContainer {
    bottom: -15px; /* Micșorează distanța pe mobil */
  }
}