.statsSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap20);
  padding: 20px;
  /* background-color: var(--textColor2); */
  border-radius: var(--borderRadius20);
  margin: 40px 0;

  transition: all 0.4s ease-in-out;
}

.statItem {
  text-align: center;
  color: var(--backgroundColor);
  /* background-color: var(--secondaryBackgroundColor); */
  background-color: #4a5b6b;
  padding: 20px;

  border: 2px solid var(--actionColor);
  border-radius: var(--borderRadius20);
  transition: all 0.4s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.statItem:hover {
  border: 2px solid #4a5b6b;
  background-color: var(--actionColor);
  box-shadow: 0 6px 8px rgba(252, 158, 79, 0.8);
}

.statItem:hover h3 {
  color: var(--backgroundColor);
}

.statItem:hover p {
  color: var(--secondaryBackgroundColor);
}

.statItem h3 {
  font-size: var(--fontSize30);
  color: var(--actionColor);
  margin-bottom: var(--gap10);
}

@media (min-width: 768px) {
  .statsSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .statsSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
