.statsSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap20);
  padding: 20px;
  background-color: var(--secondaryBackgroundColor);
  border-radius: var(--borderRadius20);
  margin: 40px 0;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
.statsSection:hover {
  background-color: var(--actionColor);
}

.statsSection:hover .statItem {
  border: 2px solid var(--backgroundColor);
}

.statsSection:hover .statItem h3 {
  color: var(--backgroundColor);
}

.statsSection:hover .statItem p {
  color: var(--secondaryBackgroundColor);
}

.statItem {
  text-align: center;
  color: var(--backgroundColor);
  padding: 20px;

  border: 2px solid var(--actionColor);
  border-radius: var(--borderRadius20);
}

.statItem h3 {
  font-size: var(--fontSize30);
  color: var(--actionColor);
  margin-bottom: var(--gap10);
}

@media (min-width: 768px) {
  .statsSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .statsSection {
    grid-template-columns: repeat(3, 1fr);
  }
}
