.sectionContainer {
  background-image: url(/Conacul-Dante/src/assets/images/okasBackground_2560x1440-GRI.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bookingContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.bookingContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.bookingForm {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--secondaryColor);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--primaryColor);
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  background-color: var(--actionColor);
}

.inputError {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonBox .submitButton {
  border: none;
  border-radius: var(--borderRadius10);

  color: var(--textColor);
  font-weight: var(--fontWeight700);
  background-color: var(--actionColor);
  padding: 10px 32px;
  margin: 40px 20px;

  text-transform: uppercase;
  text-align: center;
  font-size: var(--fontSize14);

  transition: all 0.4s ease-in-out;
}
.buttonBox .submitButton:hover {
  background-color: var(--primaryColor);
  color: white;
}

.successMessage {
  text-align: center;
  padding: 2rem;
  background-color: #f0f8ff;
  border-radius: 10px;
}

.successMessage h2 {
  color: #28a745;
  margin-bottom: 1rem;
}

.successMessage button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
