.logo {
  position: relative;
  cursor: pointer;
}

.logoImage {
  display: none; /* Ascunde toate imaginile implicit */
}

.logoImage.large {
  display: block; /* Afișează logo-ul mare */
}

.logoImage.small {
  display: none; /* Ascunde logo-ul mic */
}

/* Pentru ecrane mai mici de 768px */
@media (max-width: 992px) {
  .logoImage.large {
    display: none; /* Ascunde logo-ul mare */
  }

  .logoImage.small {
    display: block; /* Afișează logo-ul mic */
  }
}
