.header {
  padding: 10px;
  color: var(--textColor);

  background-color: var(--secondaryColor);
  font-weight: var(--fontwWeight700);
  font-family: var(--font-heading);

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 530px) {
  .header {
    justify-content: center;
    gap: 200px;
  }
}
