.quickContactSection {
  /* background-color: var(--secondaryBackgroundColor); */
  background-color: #4a5b6b;

  color: var(--backgroundColor);
  padding: 30px;
  border-radius: var(--borderRadius20);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 400"><circle cx="150" cy="150" r="80" fill="%23fc9e4f" /><circle cx="350" cy="250" r="100" fill="%2351a3a3" /><circle cx="600" cy="100" r="60" fill="%23fefefe" fill-opacity="0.9" /></svg>');
  background-size: cover; /* Ajustează mărimea */
  background-repeat: no-repeat;
  background-position: center;
}

.subtitle:hover {
  color: var(--actionColor);
}

.contactInfo {
  margin-top: var(--gap20);
}

.contactInfo p {
  margin-bottom: var(--gap10);
  transition: all 0.4s ease-in-out;
}

.contactInfo p:hover {
  color: var(--actionColor);
}

.aboutButton {
  border: none;
  border-radius: var(--borderRadius10);

  color: var(--textColor);
  font-weight: var(--fontWeight700);
  background-color: var(--actionColor);
  padding: 10px 32px;
  margin: 40px 20px;

  text-transform: uppercase;
  text-align: center;
  font-size: var(--fontSize14);

  transition: all 0.4s ease-in-out;
}
.aboutButton:hover {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
}
