.bookingCTA {
  background-color: var(--secondaryColor);
  padding: 30px 10px 20px 10px;

  display: flex;
  flex-direction: column;
  gap: var(--gap20);
}

.titleBox h3 {
  font-size: var(--fontSize16);
  padding-bottom: 20px;
}

.bookingCTAText {
  display: flex;
  flex-direction: column;
  gap: var(--gap10);
}
.bookingCTAText p {
  font-size: var(--fontSize14);
  line-height: var(--fontHeightText16);
}
.bookingButton {
  border: none;
  border-radius: var(--borderRadius10);

  color: var(--backgroundColor);
  font-weight: var(--fontWeight700);
  background-color: var(--primaryColor);
  padding: 10px 32px;
  margin: 40px 20px;

  text-transform: uppercase;
  text-align: center;
  font-size: var(--fontSize14);

  transition: all 0.4s ease-in-out;
}
.bookingButton:hover {
  background-color: var(--actionColor);
  color: var(--textColor);
}
