.mapSection {
  margin: 40px 0;
  height: 300px;
  border-radius: var(--borderRadius20);
  overflow: hidden;

  text-align: center;
  background-color: var(--actionColor);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

@media (min-width: 768px) {
  .mapSection {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .mapSection {
    height: 500px;
    overflow: visible;
  }
}
